.bundle
db/*.sqlite3
log/*.log
tmp/**/*
config/database.yml
config/environments/development.rb 
config/environments/production.rb
*.DS_STORE
public/client/sencha
data/get_social_tags.py
nbproject
data/calais.pyc
config/database.yml
coverage
.sass-cache
*.swp
