.admin_page table.feed_entries td span.entry.failed, .admin_page table.feed_entry td span.entry.failed {
  color: red; }
.admin_page table.feed_entries td span.entry-progress-block, .admin_page table.feed_entry td span.entry-progress-block {
  background-color: blue;
  min-width: 10px;
  min-height: 20px;
  float: left; }
.admin_page .ajax_loading {
  background-image: url(../images/ajax_spinner.gif);
  width: 150px;
  height: 150px;
  display: none; }

td.ajax_image {
  width: 45px;
  height: 45px; }

.ajax_loading_small {
  background-image: url(../images/ajax_spinner_small.gif);
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  display: none; }
