/* line 2, sass/main.scss */
body { padding-top: 152px; margin-left: 0; padding-left: 50px; background: url('http://q.king5.com/seattleblend/background.png'); background-attachment: fixed; }
/* line 6, sass/main.scss */
body #filters {
  margin: 20px;
}
/* line 10, sass/main.scss */
body #stream {
  margin-top: 20px;
}
/* line 15, sass/main.scss */
#stream .item { border: 1px solid #c5c5c5; background: #fff; padding: 14px; margin: 0 0 10px 0; width: 600px; }
body #stream .item .post-it {
  display: inline-block;
  height: 50px;
  width: 60px;
  margin: 10px;
  margin-top: 0px;
  padding: 4px;
  padding-top: 10px;
  background-color: #ffe454;
  border: solid 1px #ffe9e9;
  border-radius: 5px;
  text-align: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 6px;
  box-shadow: rgba(100, 100, 100, 0.2) -1px 2px 2px;
}
/* line 31, sass/main.scss */
body #stream .item img {
  /* display: none; */
  margin-right: 15px;
}
/* line 35, sass/main.scss */
body #stream .item .show {
  display: inline-block;
}
/* line 39, sass/main.scss */
body #stream .item .body {
  width: 590px;
  display: inline-block;
  vertical-align: top;
  padding: 0; 
  margin: 0;  
}
/* line 45, sass/main.scss */
body #stream .item .body h2 {
  vertical-align: top;
}
/* line 57, sass/main.scss */
body #tag-list .label a {
  color: #FFF;
}
/* line 60, sass/main.scss */
body #tag-list .label a:hover {
  text-decoration: none;
}
/* line 66, sass/main.scss */
body #tag-list, body #group-list {
  margin-left: 0px;
  width: 170px;
}
/* line 70, sass/main.scss */
body #tag-list li, body #group-list li {
  list-style: none;
  display: inline-block;
  margin-right: 2px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 2px 4px 2px 4px;
}
/* line 78, sass/main.scss */
body #tag-list li a, body #group-list li a {
  color: #111;
}
/* line 82, sass/main.scss */
body #tag-list li.selected, body #group-list li.selected {
  background-color: #57A957;
}

/* line 89, sass/main.scss */
.ui-slider {
  margin: 0 0 30px 10px;
}

/* line 93, sass/main.scss */
.feedflare {
  display: none;
}

/* line 97, sass/main.scss */
hr {
  margin: 15px 0 0 0;
}

/* line 101, sass/main.scss */
h3.headline {
  line-height: 20px;
  margin: 0 0 10px 0;
}

/* line 104, sass/main.scss */
.pagination { margin: 0; padding: 0; width: 650px; }
.pagination ul {
  float: left;
}

/* line 107, sass/main.scss */
.pagination a {
  float: left;
  padding: 0 7px;
  line-height: 21px;
  text-decoration: none;
  border: 1px solid #DDD;
  border-left-width: 0;  
  background-color: #0a1d4a; 
  color: #fff;
}

/* line 115, sass/main.scss */
.new {
  margin: 10px 10px 40px 10px;
}

/* line 119, sass/main.scss */
a.news {
  color: #333333;
}

/* line 122, sass/main.scss */
a.news:hover {
  color: #08c;
}

/* line 125, sass/main.scss */
p.small {
  float: right;
}

/* line 128, sass/main.scss */
.pagination .active a {
  color: #0a1d4a;
}
.pagination a:hover, .pagination .active a { background-color: #fac716; color: #0a1d4a; }
/* line 132, sass/main.scss */
.social-buttons {
  height: 30px;
  overflow: hidden;
  margin: 0; 
  padding: 0; 
}
/* line 136, sass/main.scss */
.social-buttons .socialised {
  float: left;
}
/* line 139, sass/main.scss */
.social-buttons .twitter {
  width: 120px;
  float: right;
  margin-right: 0;
}
/* line 144, sass/main.scss */
.social-buttons .facebook {
  width: 400px;
  margin-left: 10px;
}
/* line 146, sass/main.scss */
.social-buttons .facebook iframe {
  width: 100%;
  height: 25px;
}




.topbar { background: url('http://q.king5.com/seattleblend/background.png'); height: 150px; border-bottom: none; }
.topbar { background: url('http://q.king5.com/seattleblend/background.png'); height: 150px; border-bottom: none; }
.topbar-inner, .topbar .fill { height: 152px; clear: both; margin-top: 0; background: url('http://q.king5.com/seattleblend/Header.png') no-repeat center 20px; border-bottom: none; box-shadow: none; }
.topbar-inner .container { height: 150px; }
.topbar form { margin: 20px 0 0 380px; }
.topbar input { background: #fff; color: #000; }
.topbar input:hover { background: #fff; color: #000; }
.topbar input:focus, .topbar input.focused { background: #fff; color: #000; }
.topbar input:-moz-placeholder { color: #000; }
.topbar h3 { display: none; visibility: none;  }
#filters h2 { font: normal bold 16px/21px arial, helvetica, sans-serif; 
color: #fff; 
text-align: center; 
padding: 2px; 
width: 194px; 
height: 20px;
padding: 3px;
margin: 6px 0 6px 0;
background-image: linear-gradient(top, rgb(15,43,103) 35%, rgb(10,29,74) 69%);
background-image: -o-linear-gradient(top, rgb(15,43,103) 35%, rgb(10,29,74) 69%);
background-image: -moz-linear-gradient(top, rgb(15,43,103) 35%, rgb(10,29,74) 69%);
background-image: -webkit-linear-gradient(top, rgb(15,43,103) 35%, rgb(10,29,74) 69%);
background-image: -ms-linear-gradient(top, rgb(15,43,103) 35%, rgb(10,29,74) 69%); }
#filters h1 { display: none; visibiilty: none; }
div.date { background: #ececec; font-size: 10px; padding: 0 6px; margin: 0; }