// use $ compass watch . to auto-compile
body {
  padding-top: 40px;
  margin-left: 50px;
  
  #filters {
    margin: 20px;
  }  

  #stream {
  	margin-top: 20px;

      .item {
            
        img {        
          display: inline-block;
          margin-right: 15px;
        }

        .body {

          width: 600px;
          display: inline-block;
          vertical-align: top;

          h2 {  
            vertical-align: top;
          }
        }  
      }
    } 
}

.ui-slider {
    margin: 0 0 30px 10px;
}
