%select#date-filter{:style=>"border:0; margin: 6em; height: 12em;"}
  %option{:value=>'1wk', :selected=>"selected"} 1 week
  %option{:value=>'3d'} 3 days
  %option{:value=>'2d'} 2 days
  %option{:value=>'1d'} 1 day
  %option{:value=>'12hr'} 12 hours
  %option{:value=>'6hr'} 6 hours
  %option{:value=>'3hr'} 3 hours
  %option{:value=>'2hr'} 2 hours
  %option{:value=>'1hr'} 1 hour
  %option{:value=>'30min'} 30 mins
  %option{:value=>'15min'} 15 mins
