= javascript_include_tag 'dimensions/timefield'
%script#item-template{:type=>"text/x-jquery-tmpl"}
  {{each(i,item) items}}
  .item
    .post-it
      {{if img}}
      %img{:src=>"img",:style=>"width:98%"}
      {{else}}
      %img{:src=>"/images/news.png",:style=>"width:98%"}
      {{/if}}
    .body
      %h3.headline.unread ${text}
      .article-details
        {{if photo_url}}
        %img{:src=>'${photo_url}',:class=>"show",:target=>"_blank"}
        {{/if}}
        %a{:href=>'${item.url}',:target=>"_blank"} ${item.url}
        {{if variable_2}}
        .date 
          Published 
          %span.date{:class=>"timefield t:${variable_2*1000}"}
        {{/if}}
        %br
        .tags
          ${tags}
        .fb-like{"data-href"=>"${url}", "data-send"=>"true", "data-width"=>"450", "data-show-faces"=>"true"}
  {{/each}}
