%script#item-template{:type=>"text/x-jquery-tmpl"}
  .item
    .post-it
      | {{html post_it_html}}
      
    .body
      %h3.headline.unread ${title}
      .article-details
        | {{if photo_url}}
        / img(src='${photo_url}' class="show")
        | {{/if}}

        .text
          | {{html body}}
        %a{:href=>'${article_link}'} ${article_link}
        .date ${created_at}

        .fb-like{:data-href=>"${article_link}", :data-send=>"true", :data-width=>"450", :data-show-faces=>"true"}
