= javascript_include_tag 'dimensions/timefield'
%script#item-template{:type=>"text/x-jquery-tmpl"}
  {{each(i,item) items.results}}
  .br{:style=>"clear:both;"}
  .item
    .post-it
      {{if img}}
      %img{:src=>"${img}",:style=>"width:98%"}
      {{/if}}
    .body
      %h3.headline.unread
        ${text}
      .article-details
        {{if photo_url}}
        %img{:src=>'${photo_url}',:class=>"show",:target=>"_blank"}
        {{/if}}
        %a{:href=>'${item.url}',:target=>"_blank"} ${item.url}
        {{if variable_2}}
        .date 
          Published 
          %span.date{:class=>"timefield t:${variable_2*1000}"}
        {{/if}}
        %br
        .tags
          ${tags}
        .fb-like{"data-href"=>"${DimensionsFragmenter.buildFragment(text, 'entry', docid)}", "data-send"=>"true", "data-width"=>"450"}
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check news @ dimensions" data-url="${DimensionsFragmenter.buildFragment(text, 'entry', docid)}">Tweet</a>
          
  {{/each}}
  {{if Object.keys(items.pags).length > 0 }}
  %span.currentpage
    -#${"Showing from "+((items.pags[parseInt(items.current)] > items.len )?(items.pags[parseInt(items.current)]-items.len+1):((items.pags[(parseInt(items.current)-1)]+1)))+" to "+items.pags[parseInt(items.current)]+" of "+ items.matches}
  .pagination
    %ul
      {{each(i,item) items.pags}}
      %li{:class=>"${(items.current == (i))?'active':''}"}
        %a{:href=>"\#/search#page\#${i}"}${i}
      {{/each}}
  {{/if}}

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
