%script#item-template{:type=>"text/x-jquery-tmpl"}
  {{each(i,item) items}}
  .item
    .post-it
      ${console.log(items)}
      {{html img}}
    .body
      %h3.headline.unread ${text}
      .article-details
        {{if photo_url}}
        %img{:src=>'${photo_url}',:class=>"show"}
        {{/if}}

        .text
          {{html text}}
        %a{:href=>'${item.url}'} ${item.url}
        .date ${created_at}

        .fb-like{"data-href"=>"${url}", "data-send"=>"true", "data-width"=>"450", "data-show-faces"=>"true"}
  {{/each}}
