%ul#tag-list
  %li
    %span.badge.badge-success
      %a(href="#EntertainmentCulture") EntertainmentCulture 
  %li
    %label.label.label-success
      %a(href="#FiresignTheatreComedian") FiresignTheatreComedian 
  %li
    %label.label.label-success
      %a(href="#ClaireNoland")ClaireNoland 
  %li
    %label.label.label-success
      %a(href="#EntertainmentCulture")EntertainmentCulture 
  %li
    %label.label.label-success
      %a(href="#Singer,Songwriter")Singer,Songwriter 
  %li
    %label.label.label-success
      %a(href="#LarryStevenson")LarryStevenson 

%form(onsubmit='$.address.value("search");return false;')
  %input#search_tag(type="text" placeholder="Search" style="margin-left:0px") 
%h3

