%ul#tag-list
  %li
    %span.label
      %a

%form(onsubmit='$.address.value("search");return false;')
  %input#search_tag(type="text" placeholder="Search" style="margin-left:0px") 
%h3

= javascript_include_tag 'home/_tag.onReady.js'
