- content_for :opengraph do
  = raw feed_entry_opengraph_metas(@feed_entry)

.item
  .new
    %a.news{:href=>@feed_entry.url,:target=>"_blank"}
      %h1=@feed_entry.name
    %p= raw @feed_entry.summary
    %p.small
      = @feed_entry.published_at.to_s :human if @feed_entry.published_at.present?
  .well
    %h1 Dimensions
    %p a place to search news by tags, locations and tags.
    %p
      %a.btn.btn-primary.btn-large{:href=>home_path}
        Search more...
