#header
  %h1#site_title Dimensions Admin
  %ul.header-item#tabs
    %li.news_feeds{:class => set_nav_active(admin_news_feeds_path)}
      = link_to "News Feeds", admin_news_feeds_path
  %p.header-item#utility_nav
    %span.current_user current_user@example.com
    %a{:href=>"/admin/logout", "data-method" => "get"} Logout
#title_bar
  #titlebar_left
    %span.breadcrumb_sep |
    %h2.page_title
      =title_layout params
  #titlebar_right
    %span.action_items
      = yield :action_items
